.list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 6px 4px;

  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

/* Scroll bonito */
.list::-webkit-scrollbar {
  width: 6px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
