.footer {
  height: 56px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(2, 6, 23, 0.95);
  color: #9ca3af;
  font-size: 13px;
}

.left {
  opacity: 0.8;
}

.right {
  opacity: 0.6;
}

@media (min-width: 360px) {
  .footer {
    font-size: 12.5px;
  }
}


@media (min-width: 480px) {
  .footer {
    padding: 14px 20px;
    font-size: 13px;
  }
}


@media (min-width: 768px) {
  .footer {
    height: 56px;
    padding: 0 24px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: left;
  }

  .footer .left {
    opacity: 0.8;
  }

  .footer .right {
    opacity: 0.6;
  }
}


@media (min-width: 1024px) {
  .footer {
    font-size: 13px;
  }
}


@media (min-width: 1400px) {
  .footer {
    padding: 0 32px;
  }
}