.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form h2 {
  font-size: 28px;
  color: #fff;
}

.form p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
}

.input {
  height: 46px;
  padding: 0 14px;
  border-radius: 8px;
  border: none;
  background: #1f1f2e;
  color: #fff;
  outline: none;
}

.input::placeholder {
  color: #aaa;
}

.input:focus {
  outline: 2px solid #6c63ff;
  transform: scale(1.01);
  transition: 0.15s;
}

.button {
  margin-top: 10px;
  height: 48px;
  border-radius: 10px;
  border: none;
  background: #6c63ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.9;
}
